body{
    background-image: url(./img/background.jpg);
    background-size: 100%;
    
    background-repeat: no-repeat;
    
    }

    .Carizmas{
        background-color:rgb(99, 62, 13);
         height: 30px; 
         color: #ccc;
         padding-left: 800px;
      
      }


    .naujausios{
        display: flex;
       
        overflow: auto;
        background-color: #ccc; 
        border: black;
      }