body{
background-image: url(./pictures/background.jpg);
background-size: 100%;

background-repeat: no-repeat;

}


.topnav {
    overflow: hidden;
    background-color:#080807;
    text-align: center;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(245, 244, 244);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {

    color: rgb(245, 245, 245);
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    
    color: white;

  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  p.solid {border-style: solid;}
  

 .logo{

padding-left: 800px;

 }
 .Naujos{
  background-color: #ccc; 
}

  .naujausios{
    display: flex;
   
    overflow: auto;
  }
  .card{
    padding-left: 5px;
  }
 